03-03-26/4th question/emp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.company.com/employee"
           xmlns:emp="http://www.company.com/employee"
           elementFormDefault="qualified">

    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EmpID" type="xs:integer"/>
                            <xs:element name="EmpName" type="xs:string"/>
                            <xs:element name="Department" type="xs:string"/>
                            <xs:element name="Salary" type="xs:decimal"/>
                            <xs:element name="Email" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>