03-03-26/2nd question/books.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Title" type="xs:string"/>
                            <xs:element name="AuthorName" type="xs:string"/>
                            <xs:element name="ISBN" type="xs:string"/>
                            <xs:element name="PublisherName" type="xs:string"/>
                            <xs:element name="Edition" type="xs:positiveInteger"/>
                            <xs:element name="Price" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>